body{
	background-image: url(HTML/mmten.png);
}
	/*p {
	width: 100%;
	height: 100%;

	font-size:50px;
	font-family: "Arial","tahoma" ;
	font-weight: 50;
	font-style: italic;

	background-image: url(../img/mmten.png);
	}

div#kotak1 {
	width: 50%;
	height: 50%;
	background: green;
	display: inline-block;
	border: 5px dashed black;
	text-align: center;
	font-weight: 90;
	margin: 10px 20px 30px 40px;
*/

/*div {background: red;
		width: 100px;
		display: inline-block;
	}

span {background: blue;
		width: 100px;
		display: inline-block;
	}*/

/*
#header { background: blue;}
#content {background: green;
			position: relative;
			height: 500px;}
.clearfix {clear: both;}
#content #sidebar { width: 30%; float: left; background: purple;}
#content #mainbar {width: 70%; background: yellow; float: right;}
#footer {background: red;}

#content #sidebar {
	width: 30%;
	float: left;
	position: absolute;
	left: 0;
	top: 0;
	background: purple;
	}

#content #mainbar {
	width: 70%;
	background: yellow;
	position: absolute;
	right: 0;
	top: 0;
	}
*/
/*
div {
		background: red;
		width: 110px;
		height: 180px;
		overflow-x: scroll;
		overflow-y: scroll;
	}
p { width: 200px; 
	background: green;
	}
*/


div {
		
		width: 110px;
		height: 180px;
		position: absolute;
		top: 20;
		left: 20;
	}


#kotakmerah {
	background: red;
	z-index: 20px;
	}

#kotakhijau {
	background: green;
	z-index: 1
	top : 50;
	left: 50;
	}

}